<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-xl-4 col-md-4 col-12 m-2">
      <div class="card">
        <div class="card-header">
          <h3>Country Management</h3>
        </div>
        <div class="card-body shadow">
          <form [formGroup]="entityForm" id="entityForm" #formDirective="ngForm" (ngSubmit)="create(entityForm,formDirective)">
            <div class="d-flex flex-row">
              <mat-form-field class="me-1 form-field col-6" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput id="name" formControlName="name" name="name" placeholder="name" minlength="3"
                  maxlength="45" required>
                <mat-hint align="end">{{getControl('name')?.value.length}}/45</mat-hint>

                @if (getControl('name')?.hasError('maxLength') && !getControl('name')?.hasError('required')) {
                <mat-error>Max 45 char allowed</mat-error>
                }
                @if (getControl('name')?.hasError('required')) {
                <mat-error>Name is <strong>required</strong></mat-error>
                }
                @if (getControl('name')?.errors && getControl('name')?.pristine) {
                <mat-error>
                  <strong>{{ getControl('name')?.getError('serverError')}}</strong>
                </mat-error>
                }
                <!-- <mat-icon matSuffix>home</mat-icon> -->

              </mat-form-field>
              <mat-form-field class="me-1  col-6" appearance="outline">
                <mat-label>Short name</mat-label>
                <input matInput id="shortName" formControlName="shortName" name="shortName" placeholder="Short name"
                  minlength="1" maxlength="15" required>
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                <mat-hint align="end">{{getControl('shortName')?.value.length}}/15</mat-hint>

                @if (getControl('shortName')?.hasError('maxLength') && !getControl('shortName')?.hasError('required')) {
                <mat-error>Max 15 char allowed</mat-error>
                }
                @if (getControl('shortName')?.hasError('required')) {
                <mat-error>Short name is <strong>required</strong></mat-error>
                }
                @if (getControl('shortName')?.errors) {
                <mat-error>
                  <strong>{{ getControl('shortName')?.getError('serverError')}}</strong>
                </mat-error>
                }
              </mat-form-field>
            </div>
            <div class="d-flex align-content-start">
              <mat-form-field class="me-1 col-6" appearance="outline">
                <mat-label>Code</mat-label>
                <input matInput id="code" formControlName="code" name="code" placeholder="code" minlength="1"
                  maxlength="7" required>
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                <mat-hint align="end">{{getControl('code')?.value.length}}/7</mat-hint>
                @if (getControl('code')?.hasError('maxLength') && !getControl('code')?.hasError('required')) {
                <mat-error>Max 7 char allowed</mat-error>
                }
                @if (getControl('code')?.hasError('required')) {
                <mat-error>Code is <strong>required</strong></mat-error>
                }
                @if (getControl('code')?.errors) {
                <mat-error>
                  <strong>{{ getControl('code')?.getError('serverError')}}</strong>
                </mat-error>
                }
              </mat-form-field>
              <div class="h-56 col-6 p-3 border border-dark border-opacity-75 rounded align-items-center">
                <div class="d-flex">
                  <!-- <span class="pe-2">Status</span> -->
                  <mat-label class="form-check-label me-2" for="isActive">Status</mat-label>
                  <input class="form-check-input me-2 border-black" formControlName="isActive" name="isActive"
                    type="checkbox" id="isActive">
                  <!-- <label class="form-check-label" for="status">Status</label> -->
                </div>
              </div>

            </div>
            <div class="col-12">
              <div class="col-12 d-flex justify-content-center">
                <button type="submit" class="mx-2 btn btn-primary" [disabled]="!entityForm.valid || this.isUpdateMode">Save</button>
                <button type="button" class="mx-2 btn btn-warning" (click)="update(entityForm,formDirective)" [disabled]="entityForm.pristine || !isUpdateMode|| entityForm.invalid">Update</button>
                <button type="button" (click)="clear()" class="mx-2 btn btn-danger">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-7 col-xl-7 col-md-7 col-12 m-2">
      <div class="card m-1 shadow-lg">
        <div class="card-header">
          <h4>Country List</h4>
        </div>
        <div class="card-body">
          <mat-form-field class="col-12" appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
            <mat-icon matSuffix>search_lens</mat-icon>
          </mat-form-field>
        </div>
        <div class="mat-elevation-z8">
          <div *ngIf="isLoading"
            style="display: flex; justify-content: center; align-items: center; background: white;">
            <mat-progress-spinner color="primary" mode="indeterminate">
            </mat-progress-spinner>
          </div>
          <table mat-table [dataSource]="dataSource" matSort>

            <!-- ID Column -->

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>
            <!-- Progress Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
              <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="shortName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Short name </th>
              <td mat-cell *matCellDef="let row"> {{row.shortName}} </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="code">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
              <td mat-cell *matCellDef="let row"> {{row.code}} </td>
            </ng-container>
            <!-- Fruit Column -->
            <ng-container matColumnDef="isActive">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
              <td mat-cell *matCellDef="let row"> {{row.isActive?"active":"inactive"}} </td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Actions </th>
              <td mat-cell *matCellDef="let row">
                <button mat-icon-button (click)="edit(row)" matTooltip="Click to Edit"
                  class="iconbutton btn btn-primary bg-primary me-2">
                  <mat-icon aria-label="Edit">edit</mat-icon>
                </button>
                <button mat-icon-button (click)="delete(row)" matTooltip="Click to Delete"
                  class="iconbutton btn btn-warning bg-warning">
                  <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

        </div>
      </div>
    </div>
  </div>
</div>
